<div class="main-content">
    <!-- Yaha tera page ka content rahega -->
</div>

<div class="footer">
    <div class="finfo">
        <div class="f-soical">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>    
        <div class="f-limited">
            <p>&copy; 2025 Room Dheko. All rights reserved.</p>
        </div>
        <div class="f-privicy">
            <a href="">Privacy</a>
            <a href="">Policy</a>
        </div>
    </div>
</div>
