<nav class="navbar navbar-expand-md bg-body-tertiary sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/listings"><i class="fa-solid fa-person-shelter"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>






      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="/listings">Explore</a>
          </li>
          
          <!-- <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li> -->
        </ul>



        
<% if (path !== "/login" && path !== "/signup") { %>
        <ul class="navbar-nav ms-auto">
  <li class="nav-item">
    <form id="searchForm" class="d-flex" role="search">
      <!-- <input id="searchInput" class="form-control me-2" type="search" placeholder="Search e.g. room under 4000 in Jaipur" aria-label="Search" required> -->
       <input id="searchInput" class="form-control me-2" type="search" 
  placeholder="Search e.g. room under 4000 in Jaipur" 
  aria-label="Search" required
  style="width: 400px; font-size: 1rem;">

      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </li>
        </ul>
<% } %>



        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <li class="nav-item">
              <a class="nav-link" href="/listings/new">Add Room</a>
            </li>
            <%if(!currUser){%>
            <a class="nav-link active" aria-current="page" href="/login"><b>Login</b></a>
          </li>


         
        






          <li class="nav-item">
            <a class="nav-link" href="/signup"><b>Sign up</b></a>
          </li>
          <%}%>
          <%if(currUser){%>
          <li class="nav-item">
            <a class="nav-link" href="/logout"><b>Logout</b></a>
          </li>
          <%}%>
          <!-- <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>